@keyframes write {
  0% {
    width: 0;
  }
  100% {
    width: 30ch;
  }
}

@keyframes writeResponsive {
  0% {
    width: 0;
  }
  100% {
    width: 18ch;
  }
}

@keyframes writeDelay {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 28ch;
  }
}

@keyframes tip {
  from {
    border-color: transparent;
  }
  to {
    border-color: $light-color;
  }
}

.write {
  animation: writeResponsive 2s steps(18, end), tip 1s;
  border-right: 0.2rem solid transparent;
  display: flex;
  overflow: hidden;
  white-space: nowrap;

  @media (min-width: 769px) {
    animation: write 2s steps(30, end), tip 1s;
  }

  &:nth-child(2) {
    animation: writeDelay 4s steps(28, end), tip 1s infinite 2s;
  }
}

.loader {
  border-top-color: $main-color;
  animation: spinner 1s linear infinite;
}

.checkin {
  animation: spinner 1s linear;
  border-top-color: $custom-color;
  background-image: url("../assets/images/checkin.webp");
  background-size: cover;
}

.checkout {
  animation: spinner 1s linear;
  border-top-color: $custom-color;
  background-image: url("../assets/images/checkout.webp");
  background-size: cover;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
