@keyframes write {
  0% {
    width: 0;
  }
  100% {
    width: 26ch;
  }
}

@keyframes tip {
  from {
    border-color: transparent;
  }
  to {
    border-color: $light-color;
  }
}

.write {
  animation: write 2s steps(26, end), tip 1s infinite;
  border-right: 0.2rem solid transparent;
  display: flex;
  overflow: hidden;
  padding-right: 1rem;
  white-space: nowrap;
}

.loader {
  border-top-color: $main-color;
  animation: spinner 1s linear infinite;
}

.checkin {
  animation: spinner 1s linear;
  border-top-color: $custom-color;
  background-image: url("../assets/images/checkin.webp");
  background-size: cover;
}

.checkout {
  animation: spinner 1s linear;
  border-top-color: $custom-color;
  background-image: url("../assets/images/checkout.webp");
  background-size: cover;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
