/* ------------- Container ------------- */

.container-base {
  display: $container-base-display;
  margin: $container-base-margin;
  max-width: $container-base-width;
  padding: $container-base-padding;
  width: 100%;
}

/* ------------- Buttons ------------- */

.btn-secondary {
  align-items: center;
  background-color: transparent !important;
  border: .2rem solid $main-color;
  border-radius: 0.3rem;
  color: $main-color;
  display: flex;
  font: 1.4rem $main-font;
  font-weight: 600;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: color .3s, border .3s;
  white-space: nowrap;

  &:hover {
    border: .2rem solid $extra-color;
    color: $extra-color;
    text-decoration: underline;
  }

  svg {
    margin-left: 1rem;
    width: 2.2rem;
  }
}

.link-default {
  background-color: $extra-color;
  border-radius: 0.3rem;
  color: $light-color;
  font: 1rem $main-font;
  font-weight: 600;
  padding: 1rem 2rem;
  transition: all 0.3s;
}

.link-default:hover {
  background-color: $custom-color;
  text-decoration: underline;
}

/* ------------- Texts ------------- */

.title-base {
  color: $title-base-color;
  font: $title-base-font-responsive;
  font-weight: $title-base-weight;
  text-align: $title-base-align;
  text-transform: inherit;

  @media (min-width: 769px) {
    font: $title-base-font;
  }
}

.title-base::first-letter {
  text-transform: uppercase;
}

.subtitle-base {
  color: $subtitle-base-color;
  font: $subtitle-base-font-responsive;
  font-weight: $subtitle-base-weight;
  text-align: $subtitle-base-align;
  text-transform: inherit;

  @media (min-width: 769px) {
    font: $subtitle-base-font;
  }
}

.subtitle-base::first-letter {
  text-transform: uppercase;
}

.title-base-inner {
  color: $title-inner-color;
  font: $title-inner-font-responsive;
  font-weight: $title-inner-weight;
  text-align: $title-inner-align;
  text-transform: inherit;

  @media (min-width: 769px) {
    font: $title-inner-font;
  }
}

.title-base-inner::first-letter {
  text-transform: uppercase;
}

.p-base {
  color: $p-color;
  font: $p-font;
  text-align: $p-align;
  text-transform: lowercase;
}

.p-base::first-letter {
  text-transform: uppercase;
}
