/* ------------- Container ------------- */

.container-base {
  display: var(--container-base-display);
  margin: var(--container-base-margin);
  max-width: var(--container-base-width);
  padding: var(--container-base-padding);
  width: 100%;
}

/* ------------- Buttons ------------- */

.btn-secondary {
  background-color: var(--main-color) !important;
  border-radius: 0.3rem;
  color: var(--light-color);
  font: 1rem var(--main-font);
  font-weight: 600;
  padding: 1rem 2rem;
  transition: all 0.3s;
}

.btn-secondary:hover {
  background-color: var(--custom-color) !important;
  text-decoration: underline;
}

.link-default {
  background-color: var(--yellow-color);
  border-radius: 0.3rem;
  color: var(--light-color);
  font: 1rem var(--main-font);
  font-weight: 600;
  padding: 1rem 2rem;
  transition: all 0.3s;
}

.link-default:hover {
  background-color: var(--custom-color);
  text-decoration: underline;
}

/* ------------- Texts ------------- */

.title-base {
  color: var(--title-base-color);
  font: var(--title-base-font);
  font-weight: var(--title-base-weight);
  text-align: var(--title-base-align);
  text-transform: inherit;
}

.title-base::first-letter {
  text-transform: uppercase;
}

.subtitle-base {
  color: var(--subtitle-base-color);
  font: var(--subtitle-base-font);
  font-weight: var(--subtitle-base-weight);
  text-align: var(--subtitle-base-align);
  text-transform: inherit;
}

.subtitle-base::first-letter {
  text-transform: uppercase;
}

.title-base-inner {
  color: var(--title-inner-color);
  font: var(--title-inner-font);
  font-weight: var(--title-inner-weight);
  text-align: var(--title-inner-align);
  text-transform: inherit;
}

.title-base-inner::first-letter {
  text-transform: uppercase;
}

.p-base {
  color: var(--p-color);
  font: var(--p-font);
  text-align: var(--p-align);
  text-transform: lowercase;
}

.p-base::first-letter {
  text-transform: uppercase;
}
