button.btn-close {
  align-items: center;
  background-color: transparent;
  border-width: 0;
  color: $main-color;
  display: flex;
  font: 2rem $main-font;
  font-weight: 600;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: color 0.3s, border 0.3s;
  white-space: nowrap;

  @include breakpoint(md) {
    border: 0;
    font: 2rem $main-font;
  }

  &:hover {
    border: 0;
    color: $extra-color;
    text-decoration: underline;
  }

  svg {
    margin-left: 1rem;
    width: 2.2rem;
  }
}

button.btn-close-sm {
  align-items: center;
  background-color: transparent;
  border-radius: 1rem;
  border-width: 0.1rem;
  border-color: $main-color;
  background-color: $bg-glass-700;
  border-style: solid;
  color: $main-color;
  display: flex;
  font: 1rem $main-font;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
  transition: color 0.3s, border 0.3s;
  white-space: nowrap;

  @include breakpoint(sm) {
    display: none;
  }

  &:hover {
    color: $extra-color;
  }
}

button[type="button"],
.btn-hidden {
  @include breakpoint (md) {
    display: none;
  }
}
