@font-face {
  font-family: "Futura";
  font-style: normal;
  src: local("sans"),
    url(../assets/fonts/Futura_PT_Medium.woff2) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  font-style: normal;
  src: local("sans"), url(../assets/fonts/Nexa_Light.woff2) format("truetype");
  font-display: swap;
}
