@charset "UTF-8";

@import "./fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./animations.scss";
@import "./class.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
}

body, #root {
  overflow-y: hidden;
}

#app {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  &::-webkit-scrollbar {
    appearance: none;
    -webkit-appearance: none;

    &:vertical {
      width: .5rem;
      background-color: rgba(78, 78, 78, 1);
    }

    &-thumb {
      background-color: #797979;
      border-radius: 2rem;
      border: .1rem solid #f1f2f3;
    }

    &-corner {
      background-color: transparent;
    }
  }

  & > div {
    scroll-snap-align: start;
  }
}
