$breakpoints: (
  xl:     '(min-width: #{$xl})',
  lg:     '(min-width: #{$lg})',
  md:     '(min-width: #{$md})',
  sm:     '(min-width: #{$sm})',
);

@mixin breakpoint($device) {

  @if not map-has-key($breakpoints, $device) {
    @error 'Device value (#{$device}) is unknown';
  }

  @media #{map-get($breakpoints, $device)} {
    @content;
  }
}

.overlay {
  &::before {
    background-color: rgba(0, 0, 0, .7);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.burst {
  position: relative;
  z-index: 0;

  &::before {
    background-color: $custom-color;
    border-radius: 1.5rem;
    content: '';
    height: 8rem;
    position: absolute;
    transform: rotate(20deg);
    width: 8rem;
    z-index: -1;

    @include breakpoint(md) {
      height: 10rem;
      width: 10rem;
    }
  }

  &::after {
    background-color: $custom-color;
    border-radius: 1.5rem;
    content: '';
    height: 8rem;
    position: absolute;
    transform: rotate(155deg);
    width: 8rem;
    z-index: -1;

    @include breakpoint(md) {
      height: 10rem;
      width: 10rem;
    }
  }
}
