/* prettier-ignore */
// ----------------- import fonts
$main-font: theme("fontFamily.main");
$custom-font: theme("fontFamily.custom");

// ----------------- Colors

$light-color: theme("colors.light-color");
$practically-light-color: theme("colors.practically-light-color");
$almost-light-color: theme("colors.almost-light-color");
$nearly-light-color: theme("colors.nearly-light-color");
$mid-light-color: theme("colors.mid-light-color");
$mid-color: theme("colors.mid-color");
$mid-dark-color: theme("colors.mid-dark-color");
$nearly-dark-color: theme("colors.nearly-dark-color");
$almost-dark-color: theme("colors.almost-dark-color");
$practically-dark-color: theme("colors.practically-dark-color");
$dark-color: theme("colors.dark-color");

$main-color: theme("colors.main-color");
$custom-color: theme("colors.custom-color");
$extra-color: theme("colors.extra-color");

$blue-color: theme("colors.blue-color");

$bg-primary: theme("colors.primary");
$bg-secondary: theme("colors.secondary");
$bg-glass-100: theme("colors.glass-100");
$bg-glass-200: theme("colors.glass-200");
$bg-glass-300: theme("colors.glass-300");
$bg-glass-400: theme("colors.glass-400");
$bg-glass-500: theme("colors.glass-500");
$bg-glass-600: theme("colors.glass-600");
$bg-glass-700: theme("colors.glass-700");
$bg-glass-800: theme("colors.glass-800");
$bg-glass-900: theme("colors.glass-900");

// ----------------- Screen

$xs: theme("screens.xs");
$sm: theme("screens.sm");
$md: theme("screens.md");
$lg: theme("screens.lg");
$xl: theme("screens.xl");

// ----------------- Fonts

$h1-color: $light-color;
$h1-font: $main-font;
$h1-size: 4.4rem;
$h1-size-mobile: 3rem;
$h1-weight: 700;
$h1-align: left;

$h2-color: $light-color;
$h2-font: $main-font;
$h2-size: 4rem;
$h2-size-mobile: 2.8rem;
$h2-weight: 700;
$h2-align: left;

$h3-color: $light-color;
$h3-font: $main-font;
$h3-size: 3.4rem;
$h3-size-mobile: 2.4rem;
$h3-weight: 600;
$h3-align: left;

$h4-color: $light-color;
$h4-font: $main-font;
$h4-size: 3rem;
$h4-size-mobile: 2rem;
$h4-weight: 600;
$h4-align: left;

$h5-color: $light-color;
$h5-font: $main-font;
$h5-size: 2.4rem;
$h5-size-mobile: 2rem;
$h5-weight: 500;
$h5-align: left;

$h6-color: $light-color;
$h6-font: $main-font;
$h6-size: 2rem;
$h6-size-mobile: 1.8rem;
$h6-weight: 500;
$h6-align: left;

$p-color: $blue-color;
$p-font: $main-font;
$p-size: 1.6rem;
$p-height: 1.4;
$p-align: left;

$label-color: $blue-color;
$label-font: 1.8rem $main-font;
$label-align: left;

// ----------------- Container

$container-base-width: 120rem;
$container-base-padding: 2rem;
$container-base-margin: 2rem auto;
$container-base-display: flex;
